* {
    margin: 0;
     padding: 0;
      box-sizing: border-box;
    }

.container {
    margin-top: 15em;
    margin-left: 250px;
    position: relative;
    background-color:hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

#imagem1 {
    height: 400px;
    width: 370px;
}